{% extends 'base.html' %}

{% block title %}Storico{% endblock %}

{% block content %}

<div class="container content-container">
  
  <form action="{{ url_for('storico') }}" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }} <!-- csrf_token -->
    {{ form.GData(class="col-3 m-1",**{"hidden":"hidden"}) }}
    {% if form.GData.errors %}
      {% for error in form.GData.errors %}
        <span class="text-danger">{{ error }}</span>
        <br>
      {% endfor %}
    {% endif %}
    <div class="row no-gutters p-2">
        <div class="col-md-5 pb-1">
          {{ form.elenco (class="btn btn-primary shadow", **{"onchange":"this.form.submit()"}) }}
        </div>
        <div class="col-md-3 pb-1">
          {{ form.mese   (class="btn btn-success shadow", **{"onchange":"this.form.submit()"}) }}
          {{ form.anno   (class="btn btn-success shadow", **{"onchange":"this.form.submit()"}) }}
        </div>
        <div class="col-md-3 pb-1">
          {{ form.mese1  (class="btn btn-info shadow", **{"onchange":"this.form.submit()"}) }}
          {{ form.anno1  (class="btn btn-info shadow", **{"onchange":"this.form.submit()"}) }}
        </div>
    </div>
  </form>

  <div class="about-snippet-block text-center">
    <div class="card shadow" style="margin: 5px">
      <div class="row no-gutters p-2">
        <div class="col-md-12" style="text-align: left; "> 
          {{ dict(form.elenco.choices).get(form.elenco.data) }} 
          {{ form.Totale_P_Mese  (class="col-md-2 m-2 bg-success") }}
          {{ form.Totale_P_Mese1 (class="col-md-2 m-2 bg-info") }}
        </div>
      </div>
    </div>

    <div class="card shadow m-1 pb-2">
      <h5> Anno </h5>

      <table class="table-responsive p-2">
        <thead class="thead-dark">
          <tr>
            <th>Mesi</th>
            {% for m in range(0, 12) %}
              <th class="border border-gray bg-dark text-white p-1"> {{ m+1 }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.anno.data }}</td>
            {% for m in range(0, 12) %}
              <td class="border border-gray bg-success p-3"> {{ mese[m] }} </td>
            {% endfor %}
          </tr>
          <tr>
            <td>{{ form.anno1.data }}</td>
            {% for m in range(0, 12) %}
              <td class="border border-gray bg-info p-3"> {{ mese1[m] }} </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>

    <canvas id="lineChart"></canvas>
      <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
          type: "line",
          options: {
            title: {
              display: true,
              text: 'Anno'
            }
          },
          data: {
            labels: {{ [1,2,3,4,5,6,7,8,9,10,11,12] }},
            datasets: [
              {
                label: {{ form.mese.data }} + "-" + {{ form.anno.data }},
                data: {{ mese }},
                fill: true,
                borderColor: "#3AA64D",
                lineTension: 0.1
              },
              {
                label: {{ form.mese1.data }} + "-" + {{ form.anno1.data }},
                data: {{ mese1 }},
                fill: true,
                borderColor: "#26A4B7",
                lineTension: 0.1
              }
            ]
          }
        });
      </script>

      <div class="card shadow m-1 pb-2">
        <h5> Giorno-Mese</h5>
        <table class="table-responsive p-2">
          <thead class="thead-dark">
            <tr>
              <th> Giorni </th>
              {% for m in range(0, 31) %}
                <th class="border border-gray bg-dark text-white p-1"> {{ m+1 }} </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ form.mese.data }}-{{ form.anno.data }}</td>
              {% for m in range(0, 31) %}
                <td class="border border-gray bg-success p-3"> {{ giorno[m] }} </td>
              {% endfor %}
            </tr>
            <tr>
              <td>{{ form.mese1.data }}-{{ form.anno1.data }}</td>
              {% for m in range(0, 31) %}
                <td class="border border-gray bg-info p-3"> {{ giorno1[m] }} </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>

      <canvas id="lineChart1"></canvas>
        <script>
          var ctx = document.getElementById("lineChart1").getContext("2d");
          var lineChart1 = new Chart(ctx, {
            type: "line",
            options: {
              title: {
                display: true,
                text: 'Giorno - Mese'
              }
            },
            data: {
              labels: {{ Ascisse }},
              datasets: [
                {
                  label: {{ form.mese.data }} + "-" + {{ form.anno.data }},
                  data: {{ giorno }},
                  fill: true,
                  borderColor: "#3AA64D",
                  lineTension: 0.1
                },
                {
                  label: {{ form.mese1.data }} + "-" + {{ form.anno1.data }},
                  data: {{ giorno1 }},
                  fill: true,
                  borderColor: "#26A4B7",
                  lineTension: 0.1
                }
              ]
            }
          });
        </script>
    </div>
  </div>

</div>
{% endblock %}